:root {
    --base: #ffc600;
    --blur: 5px;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    text-align: center;
}

.controls {
    margin-bottom: 30px;
}

.frame {
    background-color: var(--base);
    width: 800px;
    margin: auto;
}

img {
    width: 100%;
    padding: 40px;
    filter: blur(var(--blur));
}