* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    text-align: center;
}

.controls {
    margin-bottom: 30px;
}

img {
    width: 800px;
    background-color: #ffc600;
    padding: 20px;
}